<!-- <div mat-dialog-close class="outside-close-icon" (click)="dismiss()"></div>
<div fxLayout="column" class="message-modal-container text-center" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="15px" class="icon-placeholder" fxLayoutAlign="start center"
        class="icon-placeholder">
        <i class="ico-large" [ngClass]="messageIcon"></i><span [innerHTML]="title" class="title-text"></span>
    </div>
    <div [innerHTML]="message" class="mb-20 mt-20"></div>
    <div class="mt-20">
        <button (click)="dismiss(true)" [ngClass]="btnClass" mat-flat-button> {{ btnTitle }} </button></div>
</div> -->